HTML_CSS_JS/css/** filter=git-crypt diff=git-crypt
HTML_CSS_JS/html/** filter=git-crypt diff=git-crypt
HTML_CSS_JS/js/** filter=git-crypt diff=git-crypt
HTML_CSS_JS/svelte/** filter=git-crypt diff=git-crypt
TPSI_3/** filter=git-crypt diff=git-crypt
