/* slide section */
.slidev-layout.section h1 {
  font-weight: 600;
  text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 2px 2px 2px rgba(206,89,55,0);

}

/* titolo slide */
.slidev-layout.default > h1 {
  @apply text-orange-500 font-extrabold text-shadow-none -mt-5 mb-4 text-4xl;
  text-shadow: 2px 2px 3px rgba(227, 185, 129, 1);
}

/* sottotitolo  */
h1 + p {
  @apply italic
}

.slidev-layout.default  h3 {
  @apply underline underline-offset-2 mb-2
}

.slidev-layout {

  background: ##fcfcfc;
  height: 100%;

  /* h1 {
    @apply text-5xl text-dark-100 font-medium text-shadow-xl
 } */

  /* h1 + p {
    @apply opacity-100 my-4 text-2xl;
  } */

  /* h2,h3 {
    @apply text-2xl text-dark-100 font-medium
  } */

  /* p {
    @apply text-2xl text-dark-100 font-normal
  } */

  /* .bold { */
    /* @apply text-3xl text-dark-100 font-normal */
  /* } */

  /* pre {
      display: inline;
      margin-right: .1em;
  } */

  /* codice */
  pre > code {
    @apply text-sm
    
  }

  pre.slidev-code {
    @apply border-1 shadow-md
  }

  /* codice inline */
  code {
    @apply text-1xl
  }

  :not(pre) > code {
    background: #fafafa;
    @apply py-0 px-2 rounded border-gray-400 border-1;
  }
  
  :not(pre) > code:before,
  :not(pre) > code:after {
    content: '';
  }

  blockquote {
    border-left: 2px solid;
    border-bottom: 2px solid;
  } 

  blockquote > * {
    @apply my-3;
  }

  /* li {
    @apply text-xl text-dark-100 font-medium
  } */

}
