.main-title {
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 60px;
}

hr {
    width: 50%;
    border: 3px solid gray;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* .remove-button {
    width: 100%;
} */


table {
    margin: auto;
    width: 40%;
    border-collapse:separate; 
    border-spacing: 0px 10px;
}

th {
    font-size: 20px;
}

tr {
    text-align: center;
    margin-bottom: 10px;
}
