.main-title {
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 60px;
}

table {
    margin: auto;
    width: 40%;
    border-spacing: 0px 15px;
    text-align: center;
}

th {
    font-size: 20px;
}

.importo {
    font-weight: bolder;
}

.icon {
    color: black;
    font-size: 2rem;
}

.icon:hover {
    cursor: pointer;
    color: green;
    font-weight: bolder;
}